body{
  display: grid;
  grid-template-areas:
  "H H H H"
  "M M M M"
  "B B B B"  
  "F F F F";
  margin: 0 auto;
  padding: 0;
}

header{
  border-bottom: 2px solid;
  font-size: 30px;
  grid-area: H;
  text-align: right;
  width: 100vw;
  
}

main{
  
  height: 80vh;
  width: 100vw;
}
img{
  width: 200px;
  height: auto;
}
.items-container{
  height: 70vh;
  grid-area: M;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  }
.drinks {
 display: flex;
 flex-direction: column;
 background-color: lightblue;
 padding: 9px;
 margin: 9px auto;


}
.button_container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-content: flex-start;
  justify-content: space-around;
  grid-area: B;
  font-size: px;
  /* grid-template-rows: ; */
}
footer{
  border-top: 2px solid;
  grid-area: F;
  text-align: center;
}