*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
} 


header{
background-color:w white;
border-bottom: 4px solid black;
display: flex;
font-family: 'Hammersmith One', sans-serif;
font-size: 30px;
height: 60px;
grid-area: H;
justify-content: flex-end;
padding: 0 15px 60px 0;
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(image/mix_green.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.items-container{
height: 2000vh;

grid-area: M;
display: flex;
flex-wrap: wrap;
overflow: auto;
display: none;
}

.items-container img{
  height: auto;
  width: 200px;
  }
  
  
.ingredients-container{
 height: 70vh;
}

.ingredients-container img {
  background-color: lightblue;
  border-radius: 6px;
  border: 2px solid black;
  height: auto;
  margin: 9px;
  width: 300px;
  padding: 5px; 
  grid-area: I;
}

.ingredients-container .ul {
  background-color: gray;
}

.drinks {
 display: flex;
 flex-direction: column;
 background-color: black;
 padding: 9px;
 margin: 9px auto;
}
 

.button-container{
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
button {
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 0 50px;
  border-radius: 6px;
  font-size: 20px;
  padding: 8px auto;
}

footer {
background-color: purple;
border-top: 3px solid black;
text-align: center;
padding: 0 15px 20px 0;

/* margin-top: 25px; */
}
#footer_name{
 margin-top: 25px;
  
}