*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* grid-template-areas:
  "H H H H"
  "M M M M"
  "B B B B"
  "F F F F" */
}
  
header{
background-color: blue;
display: flex;
height: 60px;
justify-content: flex-end;
grid-area: H;
}
.title{
  /* justify-self: ; */
  align-self: flex-end;
}

main{
  grid-area: M;
  display: flex;
  flex-direction: column;
  
  /* align-content: ; */
  height: 80vh;
  width: 100vw;
  background-color: gray;
  
}

img{
  width: 150px;
  height: auto;
}
.items-container{
  height: 70vh;
  grid-area: M;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  }
  
.ingredients-container{
  height: 70vh;
  grid-area: M;
  display: flex;
  
  overflow: auto;
  }
  
.drinks {
 display: flex;
 flex-direction: column;
 background-color: lightblue;
 padding: 9px;
 margin: 9px auto;
}
.recipe-container {
 display: flex;
 flex-direction: row;
 overflow: auto;

}

.button-container{
  align-self: flex-end;
  align-content: space-around;
  width: 100vw;
}

footer {
height: 12px;
background-color: purple;
grid-area : F;
}